.about {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black ;
    display: flex;
}
.about__me {
    width: 60%;
    height: 100vh;
    background-color: var(--color--black);
    line-height: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-top: 30px;
    

}
.apresentation {
    font-size: 5rem;
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,                    
     1px -1px 0px #FFF,                  
     1px 0px 0px #FFF;
    color: var(--color--black);
}
.name {
    font-size: 5rem;
    color: var(--color--white);
}
.development {
    font-size: 3.5rem;
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,                    
     1px -1px 0px #FFF,                  
     1px 0px 0px #FFF;
    color: var(--color--black);
}
.description {
    margin-top: 40px;
    text-align: center;
}
.description h6 {
    font-size: 2rem;
    color: var(--color--white);
    line-height: 40px;
    font-weight: 300;
    
}
.btn__about button{
    width: 180px;
    height: 50px;
    background-color: var(--color--yellow);
    color: var(--color--black);
    border-radius: 10px;
}
.about__cards {
    width: 40%;
    height: 100vh;
    background-color: var(--color--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    justify-content: center;
    line-height: 8rem;
    border-radius: 0.8rem;
    transform-style: preserve-3d;
    cursor: pointer;
    border: 1px solid var(--color--black);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.247);
   
}
.card a {
    color: #e7e6e6;
}
.face {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    background-size: cover;
    background-position: center center;
    transition: transform 0.5s ease-in-out;
    
}
.face--front {
    background: var(--color--yellow); 
    font-size: 3rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color--black)
}
.face--back {
    background: var(--color--yellow);
    font-size: 1.2rem;
    transform: rotateX(90deg); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color--black)
}
.card:hover .face--front {
    transform: rotateX(-90deg);
   
}
.card:hover .face--back {
    transform: rotateX(0deg);
    z-index: 1;
    background: url("images/ralph-the-simpsons.gif")center / cover no-repeat;
    
    
}
.container__responsive {
    display: none;
}
/*==========Responsive=============*/
@media only screen and (max-width: 600px) {
    .about__cards {
        display: none;
    }
    .apresentation {
        font-size: 3rem;
        padding: 0 10px;
        color: var(--color--yellow);
        text-shadow: none;
       
    }
    .about__me {
        width: 100%;
    }
    .name {
        font-size: 4rem;
        padding: 0 10px;
    }
    .development {
        font-size: 2rem;
        padding: 0 10px;
        color: var(--color--yellow);
        text-shadow: none;
    }
    .description {
        margin-top: 0;
        text-align: center;
       
    }
    .description h6 {
        font-size: 1rem;
        color: var(--color--white);
        line-height: 30px;
        font-weight: 200;
        
    }
    .btn__about button{
        width: 180px;
        height: 40px;
        border-radius: 5px;
        font-size: .8rem;
        border: none;
    }
  }