.contact {
    width: 100%;
    height: 100vh;
    background-color: var(--color--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--color--black);
}
.container__contact {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container__contact label {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 10px;
    
}
.container__contact input {
    margin-bottom: 15px;
    height: 40px;
    outline: 0;
    border: none;
    border-radius: 8px;
}
.text__area {
    margin-bottom: 25px;
    outline: none;
    border: none;
    border-radius: 8px;
}
.container__contact button {
    height: 60px;
    background-color: #309E78;
    color: var(--color--white);
    border-radius: 8px;
    border: none;
}
button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  } 
.container__contact h1 {
    text-align: center;
}
.container__contact h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}